body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: auto;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration-line: none;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding: 0 15%;
    
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    flex: auto;

}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 5em 15%;
}

.hero-content {
    flex: 1;
}

.hero-main {
    padding-inline-end: 24px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary {
    padding-inline-end: 120px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    margin-top: 1em;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: bold;
}

.placeholder-image {
    background-color: gray;
    color: #E5E7EB;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}

.page-content{
    flex-grow: 1;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 96px;
    gap: 48px;

    font-size: 36px;
    font-weight: 900;
    color: #1F2937;

}

.box-container {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 165px;
    gap: 1em;
    text-align: center;

    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;

}

.blue-box {
    height: 165px;
    width: 165px;
    outline: 3px solid #3882F6;
    border-radius: 8px;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 24px;
    font-size: 18px;
}

