body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: auto;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration-line: none;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding: 0 15%;
    
}

.cta-header,
.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    flex: auto;

}

.hero {
    display: flex;
    background-color: #1F2937;
    padding: 5em 15%;
}

.hero-content {
    flex: 1;
}

.hero-main {
    padding-inline-end: 24px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary {
    padding-inline-end: 120px;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-button {
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    margin-top: 1em;
    padding: 8px 24px;
    font-size: 16px;
    font-weight: bold;

    text-wrap: nowrap;

}

.placeholder-image {
    background-color: gray;
    color: #E5E7EB;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

}

.page-content{
    flex-grow: 1;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 100px;
    gap: 48px;

    
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 165px;
    gap: 1em;
    text-align: center;

    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;

}

.blue-box {
    height: 165px;
    width: 165px;
    outline: 3px solid #3882F6;
    border-radius: 8px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 75px;

}

.quote-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    flex-basis: 825px;
    flex-shrink: 0;
    flex-grow: 0;
}

.quote-content {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;

    color: #1F2937;
}

.quote-author {
    font-weight: bold;
    text-align: end;
    padding-right: 2em;
}

.cta {
    display: flex;
    padding: 50px 15%;

    align-items: center;

}

.cta-box {
    display: flex;
    background-color: #3882F6;
    padding: 4% 8%;
    border-radius: 8px;

    flex: 1;
}

.cta-text {
    flex-grow: 1;
}

.cta-paragraph {
    font-size: 18px;
    color: #E5E7EB;
}

.cta-button {
    background-color: #3882F6;
    border-radius: 8px;

    border: solid #E5E7EB;
    color: #E5E7EB;

    padding: 8px 24px;
    font-size: 16px;
    font-weight: bold;

    text-wrap: nowrap;
}



.footer {
    text-align: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 24px;
    font-size: 18px;
}

